/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,regular,500,700,900,&display=swap");


@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,&display=swap");


/* @font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"),
		url("../fonts/HelveticaNeue-Roman.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"),
		url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeue-CondensedBlack.woff2") format("woff2"),
		url("../fonts/HelveticaNeue-CondensedBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
} */

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: "Roboto";
	background: #F5F5F5;
	color: #FFFFFF;
}
.wrapper {
	/* box-sizing: content-box; */
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0 15px;
}
/* .................................................... */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
}
.header__container {
	padding-top: 26px;
}

.page {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}


/*Шапка_______________________________ */


.header__information {
	display: flex;
	align-items: flex-start;
	margin: 0px 0px 37px 0px;
	flex-wrap: wrap;
}

.header__logo {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
}

.header__icon {
	margin: 0px 10px 0px 0px;
}
.header__logo-name {
	color: inherit;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.15px;
}
.header__info {
	display: flex;
	gap: 0px 30px;
}
.header__info:not(:last-child) {
	margin: 0px 32px 0px 0px;
}

.info {
}
.info__items {
	display: flex;
	align-items: flex-start;
}
.info__icon {
	margin: 0px 10px 0px 0px;
}

.info__text {
	font-weight: 700;
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 0.5px;
}
.info__call-number {
}

.button {
	background: #F2726F;
	color: inherit;
	padding: 16px 34px;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	border-radius: 8px;
	display: inline-flex;
}



/* Меню----------------------------------- */


.header__menu {
	padding: 19px 40px 19px 48px;
	background: #FFFFFF;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.menu__list {
	display: flex;
	gap: 0px 37px;
	flex-wrap: wrap;
	flex: 1 1 auto;
}


.menu__link {
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #000000;
	display: flex;
}


.menu__item {
	position: relative;
}

.menu__item:hover .menu__submenu-list {
	visibility: visible;
	opacity: 1;
	transition-duration: 0.3s;
}
.menu__submenu-list {
	position: absolute;
	opacity: 0;
	left: 0;
	top: 15px;
	border-radius: 0px 0px 10px 10px;
	width: 76px;
	visibility: hidden;
}
.menu__submenu-link {
	font-weight: 700;
	font-size: 14px;
	line-height: 32px;
	letter-spacing: 0.15px;
	color: #f35654;
	text-decoration: underline;
}

.menu__link_arrow {
	gap: 0px 6px;
}
.menu__link_arrow::after {
	content: '';
	background: url("../img/logo/1.png") 0px 3px no-repeat;
	height: 15px;
	width: 15px;
}

.menu__items {
	display: flex;
	gap: 0px 22px;
}
.menu__serch {
}






/* Первый блок______________________________________ */

.page__main-block {
	background: url("../img/logo/bg.jpg") 70%/ cover  no-repeat ;

}
.main-block {

}
.main-block__container {
}
.main-block__top {
	padding: 280px 0px 312px 46px ;
	max-width: 615px;
}
.main-block__title {
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
}
.main-block__title:not(:last-child) {
	margin: 0px 0px 48px 0px;
}
.button_padding {
	padding: 18px 34px;
}

/* Второй блок________________________________________ */


.page__who-we-are {
	margin: -80px 0px 120px 0px;
	position: relative;
}

.who-we-are {
	
}
.who-we-are__container {
	position: relative;
	border-radius: 40px;
	padding: 100px 87px 0px 87px;
	background: #5D62B5;
}
.who-we-are__container::before {
	content: '';
	background: url("../img/who/bg2.svg") 0 0 no-repeat;
	position: absolute;
	width: 201px;
	height: 317px;
	top: -16%;
	left: 87.5%;
}
.who-we-are__container::after {
	content: '';
	background: url("../img/who/bg1.svg") 0 0 no-repeat;
	position: absolute;
	width: 582px;
	height: 475px;
	top: 36%;
	left: -1%;
}
.who-we-are__items {
	position: relative;
	z-index: 2;
}
.who-we-are__items:not(:last-child) {
	margin: 0px 0px 54px 0px;
}
.who-we-are__header {
	max-width: 583px;
}
.who-we-are__header:not(:last-child) {
	margin: 0px 0px 36px 0px;
}
.who-we-are__lable {
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	background: url("../img/who/mark.svg") -2px -2px no-repeat;
	padding: 0px 0px 0px 33px;
}
.who-we-are__lable:not(:last-child) {
	margin: 0px 0px 33px 0px;
}
.who-we-are__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
}
.who-we-are__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.who-we-are__image {
	position: relative;
	z-index: 2;
}
.who-we-are__img {
	margin: 0px 0px -120px 0px;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	border-radius: 40px;
	width: 100%;
}

/* Адаптив_______________________________________________________ */

@media (max-width: 1050px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 770px;
	}
	.header__information {
		gap: 10px 0;
		margin: 0px 0px 15px 0px;
	}
	.header__info:not(:last-child) {
		margin: 0;
	}
	.header__button {
		display: flex;
		flex: 1 1 100%;
		justify-content: end;
	}
	
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: 600px;
	}
	.header__button {
		display: flex;
		flex: 1 1 auto;
		justify-content: start;
	}
	.header__menu {
		padding: 5px 10px 5px 10px;
		gap: 5px 0;
		background: #ffffffbe;
	}
	.menu__list {
		gap: 0px 37px;
		justify-content: space-between;
	}
	.menu__items {
		display: flex;
		gap: 0px 22px;
		flex: 1 1 auto;
		justify-content: end;
	}
	.main-block__top {
		padding: 280px 0px 312px 0px ;
	}
	.main-block__title {
		font-size: 45px;
	}
	.main-block__title:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	


	.who-we-are__container {
		border-radius: 25px;
		padding: 20px 20px 20px 20px;
	}
	.who-we-are__container::after {
		content: '';
		display: none;
	}
	.who-we-are__container::before {
		content: '';
		transform: scale(0.5);
		top: -23%;
		left: 79%;
	}
	.who-we-are__header:not(:last-child) {
		margin: 0px 0px 25px 0px;
	}
	.who-we-are__lable:not(:last-child) {
		margin: 0px 0px 17px 0px;
	}
	.who-we-are__title {
		font-weight: 900;
		font-size: 30px;
		line-height: 42px;
	}
	.who-we-are__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.15px;
	}
	.who-we-are__img {
		border-radius: 25px;
  }
}
@media (max-width: 396.98px) {
	.main-block__top {
		padding: 295px 0px 185px 0px ;
	}
	.who-we-are__img {
		margin: 0px 0px -45px 0px;
  }
	.who-we-are__items:not(:last-child) {
		margin: 0px 0px 25px 0px;
	}
	.who-we-are__container {
		padding: 20px 20px 0px 20px;
	}
	.who-we-are__container::before {
		content: '';
		transform: scale(0.5);
		top: -27%;
		left: 66%;
	}

}


/* _________________________________________________________________ */